$azul-escuro: #041833;
$azul-medio: #1875e8;
$cor-fonte-principal: #041833;
$cor-fonte-post: #444444;
$branco: #fff;
$fonte-principal: "Raleway", sans-serif;
$fonte-secundaria: "Playfair Display", sans-serif;
